In [1]:
# Load Libs

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [28]:
data = pd.read_csv("/Users/punitshah/Downloads/diabetes.csv")

In [29]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [30]:
data.shape

(768, 9)

In [31]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
data.columns = col_names

In [32]:
data.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [33]:
data.describe()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [34]:
data.dtypes

pregnant      int64
glucose       int64
bp            int64
skin          int64
insulin       int64
bmi         float64
pedigree    float64
age           int64
label         int64
dtype: object

In [39]:
# split data into input and taget variable(s)

X = data.drop(columns = 'label')
y = data['label']

In [41]:
X.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age
0         6      148  72    35        0  33.6     0.627   50
1         1       85  66    29        0  26.6     0.351   31
2         8      183  64     0        0  23.3     0.672   32
3         1       89  66    23       94  28.1     0.167   21
4         0      137  40    35      168  43.1     2.288   33

In [42]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: int64

In [36]:
#Before we create a model we need to standardize our independent features by using the standardScaler method from scikit-learn.

# standardize the dataset
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [37]:
X_scaled[0]

array([ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
        0.20401277,  0.46849198,  1.4259954 ])

In [38]:
data.iloc[0]

pregnant      6.000
glucose     148.000
bp           72.000
skin         35.000
insulin       0.000
bmi          33.600
pedigree      0.627
age          50.000
label         1.000
Name: 0, dtype: float64

In [43]:
# split into train and test set
X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y,
                                                    test_size=0.30, 
                                                    random_state=1)

In [44]:
y_train

88     1
467    0
550    0
147    0
481    0
      ..
645    0
715    1
72     1
235    1
37     1
Name: label, Length: 537, dtype: int64

In [45]:
# create the classifier
#Now is time to create our random forest classifier and then train it on the train set. 
#We will also pass the number of trees (100) in the forest we want to use through the parameter called n_estimators.
classifier = RandomForestClassifier(n_estimators=10)

# Train the model using the training sets
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10)

In [46]:
# predictin on the test set
y_pred = classifier.predict(X_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [47]:
# Calculate Model Accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7186147186147186

# Identify Important Features

we can also check the important features by using the feature_importances_ variable from the random forest algorithm in scikit-learn.

In [ ]:
# check Important features
feature_importances_df = pd.DataFrame({"feature": list(X.columns),
                                       "importance": classifier.feature_importances_}).sort_values("importance", ascending=False)

# Display
feature_importances_df

In [ ]:
# visualize important featuers

# Creating a bar plot
sns.barplot(x=feature_importances_df.feature, y=feature_importances_df.importance)
# Add labels to your

plt.xlabel("Feature Importance Score")
plt.ylabel("Features")
plt.title("Visualizing Important Features")
plt.xticks(
    rotation=45, horizontalalignment="right", fontweight="light", fontsize="x-large"
)
plt.show()

In [ ]:
sns.heatmap(confusion_matrix(y_test,y_pred),yticklabels=True,cmap='coolwarm',annot=True)

In [ ]:
y_test.value_counts()

In [ ]:
print(classification_report(y_test,y_pred))

# Hyper-parameter update

In [ ]:
classifier_1 = RandomForestClassifier(n_estimators=500,
                                     max_depth=3,
                                     min_samples_leaf=5,
                                     max_features=5)

In [ ]:
classifier_1.fit(X_train, y_train)

In [ ]:
#Predict from the updated model
updated_y_pred = classifier_1.predict(X_test)

In [ ]:
# Calculate Model Accuracy
print("Accuracy:", accuracy_score(y_test, updated_y_pred))

In [ ]:
#Feature Importance

# check Important features
new_feature_importances_df = pd.DataFrame({"feature": list(X.columns),
                                           "importance": classifier_1.feature_importances_}
                                         ).sort_values("importance", ascending=False)

# Display
new_feature_importances_df

In [ ]:
#visualize for updated important featuers

# Creating a bar plot
sns.barplot(x=new_feature_importances_df.feature, y=new_feature_importances_df.importance)
# Add labels to your

plt.xlabel("Feature Importance Score")
plt.ylabel("Features")
plt.title("Visualizing Important Features")
plt.xticks(
    rotation=45, horizontalalignment="right", fontweight="light", fontsize="x-large"
)
plt.show()

In [ ]:
sns.heatmap(confusion_matrix(y_test,updated_y_pred),yticklabels=True,cmap='coolwarm',annot=True)

In [ ]:
print(classification_report(updated_y_pred,y_test))

# Few important details of model

In [ ]:
classifier_1.base_estimator

In [ ]:
classifier_1.classes_

In [ ]:
classifier_1.estimators_